.slider {
	height: 372px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 136px;
	margin-left: 60px;
}

.slides {
	overflow: hidden;
	height: 100%;
	width: 800px;
	background: #fff;
	box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.slidesContainer {
	height: 100%;
	transition: all 0.4s ease;
}

.slideSelector {
	height: 100%;
	width: 60px;
}

.radio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	height: 100%;
}

.radio input {
	display: none;
	height: 0;
}

.radio label {
	display: block;
	width: 20px;
	height: 20px;
	margin-bottom: 15px;
	cursor: pointer;
	background: #ddd;
	border-radius: 100%;
	transition: all 0.4s ease;
}

.radio label:hover {
	transform: scale(1.1);
	background-color: #707070;
}

.checkbox:checked + label {
	transform: scale(1.1);
	background-color: #000000;
}

@media (max-width: 320px) {
}
@media (max-width: 480px) {
}
@media (max-width: 768px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1600px) {
}
@media (max-width: 1920px) {
}
/* Смартфоны — 320 пикселей, 480 и выше;
Планшеты — 768 пикселей и выше;
Нетбуки — 1024 пикселей и выше;
Мониторы — 1280 пикселей, 1600, 1920 и выше. */
